body {
  margin: 0;
  padding: 8.7em 0 0;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  color: #363636;
  background: url("/images/geometry.png");
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  font-weight: normal;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 1.0rem;
  background: #363636;
  color: white;
  padding: 13px 0;
}

header nav {
  width: 965px;
  margin: 0 auto;
}

header ul {
  text-align: right;
}

header ul li {
  display: inline-block;
}

header nav li:last-child {
  margin-right: 1em;
}

.page-home header a.home,
.page-contact header a.contact,
.page-resume header a.resume {
  color: #363636;
  background: #fffb00;
}

a {
  text-decoration: none;
}

header nav a {
  margin-right: 0.86em;
  color: white;
  display: inline-block;
  background: #b4b4b4;
  width: 4.75em;
  height: 1.45em;
  text-align: center;
  border-radius: 3px;
}

header nav a.icon {
  margin-right: 0.20em;
  height: 1.45em;
  width: 1.45em;
  border-radius: 1.45em;
  text-indent: -9999px;
}

.main {
  font-size: 1.02rem;
  width: 725px;
  margin: 0 auto;
}

.masthead {
  position: relative;
  border-top: 6px solid #363636;
  border-bottom: 2px dotted #363636;
  height: 82px;
  margin-bottom: 4rem;
}

.masthead h1, .masthead h2 {
  margin: 0;
  padding: 0;
}

.masthead h1 {
  position: absolute;
  top: 10px;
  left: 0;

  height: 63px;
  background: url("/images/e.png") no-repeat;
  font-size: 2.75rem;
  padding-left: 75px;
}

.masthead h2 {
  position: absolute;
  top: 20px;
  right: 0;

  font-size: 0.96rem;
  width: 20.6em;
}

.masthead hr {
  margin-top: 10px;
  clear: both;
}

.item {
  font-size: .89rem;
}

.index li {
  position: relative;
  border-bottom: 1px dotted #999;
  min-height: 300px;
  padding-bottom: 35px;
  margin-bottom: 27px;
}

.index li:last-child {
  border-bottom: none;
}

.item h3 {
  font-size: 1.5rem;
  margin: 0;
  width: 260px;
}

.item p {
  margin: 0.7em 0 1.2em;
  width: 260px;
}

.item .see-more {
  color: #363636;
  background: #fffb00;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #cbcbcb;
  padding: 0.20em 1em;
}

.item .image {
  position: absolute;
  top: 0;
  right: 0;
}

.item img {
  transition: box-shadow 0.5s;
  width: 455px;
}

.item a img:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 4px #999;
}

.specific {
  min-height: 500px;
}

.specific nav {
  position: relative;
  color: #b4b4b4;
  font-size: 10rem;
  font-weight: 300;
  text-shadow: 0.01em 0.01em 0.01em #b4b4b4;
}

.specific nav a,
.specific nav span {
  position: absolute;
  top: 200px;
  display: block;
  height: 1em;
  overflow: hidden;
  color: #363636;
  text-shadow: 0.01em 0.01em 0.01em #efefef;
}

.specific nav span {
  color: #b4b4b4;
}

.specific nav .previous {
  left: -130px;
}

.specific nav .next {
  right: -130px;
}

.specific .context {
  float: left;
}

.specific .images {
  text-align: right;
}

.specific .images li {
  margin-bottom: 17px;
}

.resume h3 {
  margin: 0 0 0.4em;
  padding: 0;
  color: #b4b4b4;
  font-weight: bold;
  font-size: 1.5rem;
}

.education .school {
  font-size: 1.1rem;
  display: block;
  font-weight: 300;
}

.education .degree {
  font-weight: bold;
  font-size: 0.90rem;
  display: block;
}

.education .degree:after {
  content: ",";
}

.education .date,
.experience .duration {
  font-size: 0.78rem;
  font-style: italic;
}

.sidebar section {
  margin-bottom: 1.5em;
}

.interests ol {
  counter-reset: li;
  font-size: 0.89rem;
}

.interests ol li:before {
  content: counter(li) '. ';
  counter-increment: li;
  font-weight: 900;
}

.proficiencies li {
  font-size: 0.89rem;
}

.proficiencies li {
  display: inline;
}

.proficiencies li:after {
  content: ', ';
}

.proficiencies li:last-child:after {
  content: '';
}

.experience li {
  margin-bottom: 1.65em;
}

.experience .title {
  font-size: 1.2em;
  font-weight: 300;
}

.experience .title:after {
  padding: 0 0.2em;
  content: ' | ';
}

.experience .where {
  font-size: 0.90em;
}

.experience .where a {
  color: #363636;
  font-weight: bold;
  text-decoration: underline;
}

.experience address {
  display: inline;
  font-style: normal;
}

.experience address:before {
  content: " — ";
}

.resume .sidebar {
  float: left;
  height: 615px;
  width: 215px;
  margin-right: 25px;
  border-right: 1px dotted #363636;
}

footer {
  border-top: 2px dotted #363636;
  font-size: .84rem;
  margin-top: 100px;
  padding: 22px 0 35px;
}

footer a {
  color: #363636;
}

footer a:hover {
  border-bottom: 1px solid #aaa;
}

footer .copyright:after {
  content: ' | ';
  padding: 0 0.2em;
}