{% extends "main.html" %}

{% block content %}
<section class="item specific">
  <nav>
  {% if previous %}
    <a class="previous" href="{{ previous.page }}"> &lsaquo; </a>
  {% else %}
    <span class="previous"> &lsaquo; </span>
  {% endif %}

  {% if next %}
    <a class="next" href="{{ next.page }}"> &rsaquo; </a>
  {% else %}
    <span class="next"> &rsaquo; </span>
  {% endif %}
  </nav>

  <div class="context">
    <h3>{{ current.context.title }}</h3>
    <p class="description">{{ current.context.description }}</p>
  </div>

  <ul class="images">
    {% for image in current.context.images %}
      <li><img src="{{ image }}"></li>
    {% endfor %}
    {% for video in current.context.videos %}
      <li><iframe class="video" src="{{ video }}"></iframe></li>
    {% endfor %}
  </ul>




</section>

{% endblock %}
