{% extends "main.html" %}
{% block content %}

<div class="resume">

  <div class="sidebar">
    <section class="education">
      <h3>Education</h3>
      <span class="school">University of Connecticut</span>
      <span class="degree">BFA Communication Design</span>
      <span class="date">May 2009</span>
    </section>

    <section class="interests">
      <h3>Interests & Skills</h3>
      <ol>
        <li>Video Editing</li>
        <li>Web Design (HTML & CSS)</li>
        <li>Photography</li>
        <li>Fashion Design & Sewing</li>
        <li>Making things with my hands</li>
        <li>Sculpture</li>
        <li>Letter Press Printing</li>
        <li>Sustainable Living</li>
        <li>Cooking</li>
        <li>Silversmithing</li>
      </ol>
    </section>

    <section class="proficiencies">
      <h3>Proficiences</h3>
      <ul>
        <li>Photoshop</li>
        <li>Indesign</li>
        <li>Illustrator</li>
        <li>After Effects</li>
        <li>Premiere Pro</li>
        <li>Dreamweaver</li>
        <li>Soundbooth</li>
      </ul>
    </section>
  </div>

  <section class="experience">
    <h3>Experience</h3>
    <ul>
      <li>
        <div class="what">
          <span class="title">Graphic Designer</span>
          <span class="duration">Sept 2013–Present</span>
        </div>
        <div class="where">
          <a href="http://wilsonrms.com/" target="_blank">Wilson RMS</a>
          <address>New York, NY</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Graphic Designer</span>
          <span class="duration">Mar 2011–Sept 2013 (2 years, 8 months)</span>
        </div>
        <div class="where">
          <a href="http://thomsonreuters.com/practical-law/" target="_blank">Thomson Reuters (Practical Law)</a>
          <address>New York, NY</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Junior Designer</span>
          <span class="duration">Mar 2010–Mar 2011 (1 year)</span>
        </div>
        <div class="where">
          <a href="http://us.practicallaw.com/" target="_blank">Practical Law Company</a>
          <address>New York, NY</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Freelance Graphic Designer</span>
          <span class="duration">April 2008–Present</span>
        </div>
        <div class="where">
          <a href="http://emilygiorgione.org/">Emily Giorgione</a>
          <address>New York, NY</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Video Producer/Editor</span>
          <span class="duration">August 2008–August 2009 (1 year, 1 month)</span>
        </div>
        <div class="where">
          <a href="http://www.dining.uconn.edu/" target="_blank">UConn Department of Dining Services</a>
          <address>Storrs, CT</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Freelance Graphic Designer</span>
          <span class="duration">Jan 2008–May 2009 (1 year, 5 months)</span>
        </div>
        <div class="where">
          <a href="http://designcenter.uconn.edu/" target="_blank">Design Center</a>
          <address>Storrs, CT</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Graphic Design Intern</span>
          <span class="duration">May 2008–Aug 2008 (4 months)</span>
        </div>
        <div class="where">
          <a href="#">Cathode Ray Motion Design Studio</a>
          <address>New York, NY</address>
        </div>
      </li>
      <li>
        <div class="what">
          <span class="title">Graphic Design Intern</span>
          <span class="duration">Aug 2007–Nov 2007</span>
        </div>
        <div class="where">
          <a href="http://www.windhamarts.org/" target="_blank">Windham Arts Collaborative</a>
          <address>Willimantic, CT</address>
        </div>
      </li>
    </ul>
  </section>
</div>
{% endblock %}
