<!-- item.html -->
{% extends "layout.html" %}
{%- block title -%}: {{ title }}{% endblock %}
{%- block class -%}details{% endblock %}

{% block body %}
  <ul class='items'>
    <li class='item'>
      <div class='description'>
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
      </div>
      
      {% for src in images %}
        <img src="{{ src }}">
      {% endfor %}
    
      {% for src in videos %}
        <iframe src="{{ src }}" width="540" height="381" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      {% endfor %}
    
    </li>
  </ul>
{% endblock %}

{% block previous %}
{% if previous %}<a href='/{{ previous }}.html' class='previous'>&laquo;Previous</a>{% endif %}
{% endblock %}

{% block next %}
{% if next %}<a href='/{{ next }}.html' class='next'>Next&raquo;</a>{% endif %}
{% endblock %}