<!doctype html public "oh hey">
<html lang="en-us">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1"/>
    <title dir="ltr">Emily Giorgione{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/phone.css" type="text/css" media="screen and (min-width:320px) and (max-width:480px)" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">  
  </head>
  
  <body class='{% block class %}main{% endblock %}'>
    <div class='main-container'>
      <a href="/"><h1><span class='greeting'>Welcome to </span>emilygiorgione.org</h1></a>
      <h2>
        <div class='regular'>
          <span class='uppercase'>All things design</span>/Print/Web/Motion Graphics/Branding/Video Producing & Editing/<br>Exhibition Design/Digital & Analog Photography/Painting/Printmaking/Sculpture
        </div>
        
        <div class='phone'>
          <span class='uppercase'>All things design</span>
          <ul>
            <li>Print</li>
            <li>Web</li>
            <li>Motion Graphics</li>
            <li>Branding</li>
            <li class='normal-break'>Video Producing & Editing</li>
            <li>Exhibition Design</li>
            <li>Digital & Analog Photography</li>
            <li>Painting</li>
            <li>Printmaking</li>
            <li>Sculpture</li>
          </ul>
        </div>
      </h2>
      
      <nav>
        <ul>
          <li><a href="mailto:egiorgione@gmail.com?subject=Hi, from emilygiorgione.com">egiorgione@gmail.com</a></li>
          <li>Brooklyn, NY</li>
          <li><a href="/assets/resume.pdf">Résumé</a></li>
          <li><a href="/assets/portfolio.pdf">PDF</a></li>
        </ul>
      </nav>
    
      {% block body %}{% endblock %}
      
      <footer>
        <nav>
          {% block previous %}{% endblock %}
          <a href="/">emilygiorgione.org</a>
          {% block next %}{% endblock %}
        </nav>
        <a href="mailto:egiorgione@gmail.com?subject=Hi, from emilygiorgione.com">egiorgione@gmail.com</a><br>
      </footer>
    </div><!-- /main-container -->
  
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>  
  </body>
</html>