<!-- item.html -->
{% extends "layout.html" %}
{%- block class -%}main{% endblock %}
{% block body %}
  {% for item in items %}
    <ul class='items'>
      <li class='item'>
        <div class='description'>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a href='/{{ item.slug }}.html' class='see-more'>See More &#187;</a>
        </div> 
        <a href='/{{ item.slug }}.html'><img src="{{ item.images[0] }}"></a>
        <br style='clear: both'>
      </li>
    </ul>
  {% endfor %}
{% endblock %}
